h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
var,
footer,
select,
button,
form,
input {
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    color: #BA0000;
    font-weight: 400;
    text-decoration: rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

h1 {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 0.5rem;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    padding: 0.5rem;
}

p {
    font-size: 15px;
}

body {
    margin: auto;
    min-width: 360px;
    max-width: auto;
    margin-top: 2rem;
}

.title {
    height: 50px;
    color: #ffffff;
    padding: 5px;
    background-color: #f2f434;
}

.main-container {
    display: flex;
}

.content {
    width: 90%;
    margin-left: 100px;
}

.icon {
    width: 100px;
    height: 100px;
}

.input-amount {
    width: 175px;
}

.input-data {
    align-items: center;
    justify-content: center;
    height: 230px;
}

.select {
    width: 100px;
}

.card-sm {
    background-color: #ffffff;
    color: #796dce;
    margin: 20px;
    height: auto;
    min-width: 130px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.headerbox {
    background-color: #ffffff;
    padding: 20px;
    height: auto;
    width: auto;
    margin-left: 120px;
    margin-right: 50px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.box {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    height: auto;
    width: 90%;
    border-radius: 4px;
    text-align: center;
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

footer {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    height: auto;
    width: 90%;
    border-radius: 4px;
    text-align: center;
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.box-lg {
    width: 400px;
}


.fa-trash {
    font-size: 22px;
}

.item__description {
    float: left;
}

span {
    color: #ff1a8c;
}

.des {
    color: #796dce;
}

/*Media queries for mobile version */

@media only screen and (max-width:600px) {

    .main-container {
        flex-direction: column;
    }

    .box-lg {
        width: 320px;
        margin-top: 25px;
    }

    .box {
        margin: auto;
        height: auto;
    }

    .content {
        margin: auto;
    }

    .card-sm {
        margin: 10px;
        width: 85%;
        box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    }

    .flex-row {
        width: 300px;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }
}

/* media query for tab version */

@media (min-width:600px) and (max-width:960px) {

    .main-container {
        flex-direction: column;
    }

    .box-lg {
        width: 420px;
        margin-top: 25px;
    }

    .box {
        margin: auto;
        height: auto;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding: 20px;
    }

    .content {
        margin: auto;
    }

    .card-sm {
        margin: 10px;
        min-width: 130px;
        box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    }
}

.flex-row {
    width: 500px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

/*making stable of footer for fix media */
@media (min-width:960px) {

    footer {
        background-color: #ffffff;
        margin: 20px;
        padding: 20px;
        height: auto;
        width: 90%;
        border-radius: 4px;
        text-align: center;
        box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    }
}

/*demo {
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
    }